##Pre Requisite Packages

In [1]:
!pip install -q xmltodict lxml beautifulsoup4 jsonpath-ng jinja2 sqlalchemy psycopg2-binary uvicorn fastapi fastapi-utils 
!pip install -q fastapi_responses requests pytest sqlalchemy-filters loguru pyjwt fastapi-oidc python-dotenv pandas
!pip install -q python-decouple mysqlclient openai

##Importing Libraries

In [2]:
import openai
import pandas as pd
import json 
from pandas.io.json import json_normalize
import sqlite3
import os
from sqlalchemy import inspect
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import Session
from fastapi.encoders import jsonable_encoder
from urllib.parse import quote_plus

##Unzipping the Dataset

In [3]:
!unzip /content/TempQ4NLIDB-dataset.zip

Archive:  /content/TempQ4NLIDB-dataset.zip
replace TempQ4NLIDB-dataset/.git/config? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: TempQ4NLIDB-dataset/.git/config
  inflating: TempQ4NLIDB-dataset/.git/description
 extracting: TempQ4NLIDB-dataset/.git/HEAD
  inflating: TempQ4NLIDB-dataset/.git/hooks/applypatch-msg.sample
  inflating: TempQ4NLIDB-dataset/.git/hooks/commit-msg.sample
  inflating: TempQ4NLIDB-dataset/.git/hooks/fsmonitor-watchman.sample
  inflating: TempQ4NLIDB-dataset/.git/hooks/post-update.sample
  inflating: TempQ4NLIDB-dataset/.git/hooks/pre-applypatch.sample
  inflating: TempQ4NLIDB-dataset/.git/hooks/pre-commit.sample
  inflating: TempQ4NLIDB-dataset/.git/hooks/pre-merge-commit.sample
  inflating: TempQ4NLIDB-dataset/.git/hooks/pre-push.sample
  inflating: TempQ4NLIDB-dataset/.git/hooks/pre-rebase.sample
  inflating: TempQ4NLIDB-dataset/.git/hooks/pre-receive.sample
  inflating: TempQ4NLIDB-dataset/.git/hooks/prepare-commit-msg.sample
  inflating: TempQ4NLIDB-dataset/.git/hooks/push-to-checkout.sample
  inflating: TempQ4NLIDB-dataset/.git/hooks/update.sample
  inflating: TempQ4NLIDB-dataset/.git/index
  inflating: TempQ4NLIDB-dataset/.git/info/exclude
  inflating: TempQ4NLIDB-dataset/.git/logs/HEAD
  inflating: TempQ4NLIDB-dataset/.git/logs/refs/heads/main
  inflating: TempQ4NLIDB-dataset/.git/logs/refs/remotes/origin/HEAD
  inflating: TempQ4NLIDB-dataset/.git/objects/pack/pack-46d016546686ddd138ba65e7a6877c527a9f72da.idx
 extracting: TempQ4NLIDB-dataset/.git/objects/pack/pack-46d016546686ddd138ba65e7a6877c527a9f72da.pack
  inflating: TempQ4NLIDB-dataset/.git/packed-refs
 extracting: TempQ4NLIDB-dataset/.git/refs/heads/main
 extracting: TempQ4NLIDB-dataset/.git/refs/remotes/origin/HEAD
  inflating: TempQ4NLIDB-dataset/databases/HR_DB.png
  inflating: TempQ4NLIDB-dataset/databases/hr_ext/hr_ext.sqlite
  inflating: TempQ4NLIDB-dataset/databases/sales_ext/sales_ext.sqlite
  inflating: TempQ4NLIDB-dataset/databases/Warehouse_database.png
  inflating: TempQ4NLIDB-dataset/datasets/Mixed_Full-DA_and_NonTemporal_Questions/HR/dev.json
  inflating: TempQ4NLIDB-dataset/datasets/Mixed_Full-DA_and_NonTemporal_Questions/HR/test.json
  inflating: TempQ4NLIDB-dataset/datasets/Mixed_Full-DA_and_NonTemporal_Questions/HR/train.json
  inflating: TempQ4NLIDB-dataset/datasets/Mixed_Full-DA_and_NonTemporal_Questions/WH/dev.json
  inflating: TempQ4NLIDB-dataset/datasets/Mixed_Full-DA_and_NonTemporal_Questions/WH/test.json
  inflating: TempQ4NLIDB-dataset/datasets/Mixed_Full-DA_and_NonTemporal_Questions/WH/train.json
  inflating: TempQ4NLIDB-dataset/datasets/Non-Temporal_Questions/HR/dev.json
  inflating: TempQ4NLIDB-dataset/datasets/Non-Temporal_Questions/HR/test.json
  inflating: TempQ4NLIDB-dataset/datasets/Non-Temporal_Questions/HR/train.json
  inflating: TempQ4NLIDB-dataset/datasets/Non-Temporal_Questions/WH/dev.json
  inflating: TempQ4NLIDB-dataset/datasets/Non-Temporal_Questions/WH/test.json
  inflating: TempQ4NLIDB-dataset/datasets/Non-Temporal_Questions/WH/train.json
  inflating: TempQ4NLIDB-dataset/datasets/Temporal_Questions/HR/Full-DA Questions/dev.json
  inflating: TempQ4NLIDB-dataset/datasets/Temporal_Questions/HR/Full-DA Questions/test.json
  inflating: TempQ4NLIDB-dataset/datasets/Temporal_Questions/HR/Full-DA Questions/train.json
  inflating: TempQ4NLIDB-dataset/datasets/Temporal_Questions/HR/Original Questions/dev.json
  inflating: TempQ4NLIDB-dataset/datasets/Temporal_Questions/HR/Original Questions/test.json
  inflating: TempQ4NLIDB-dataset/datasets/Temporal_Questions/HR/Original Questions/train.json
  inflating: TempQ4NLIDB-dataset/datasets/Temporal_Questions/HR/Partial-DA Questions/dev.json
  inflating: TempQ4NLIDB-dataset/datasets/Temporal_Questions/HR/Partial-DA Questions/test.json
  inflating: TempQ4NLIDB-dataset/datasets/Temporal_Questions/HR/Partial-DA Questions/train.json
  inflating: TempQ4NLIDB-dataset/datasets/Temporal_Questions/WH/Full-DA Questions/dev.json
  inflating: TempQ4NLIDB-dataset/datasets/Temporal_Questions/WH/Full-DA Questions/test.json
  inflating: TempQ4NLIDB-dataset/datasets/Temporal_Questions/WH/Full-DA Questions/train.json
  inflating: TempQ4NLIDB-dataset/datasets/Temporal_Questions/WH/Original Questions/dev.json
  inflating: TempQ4NLIDB-dataset/datasets/Temporal_Questions/WH/Original Questions/test.json
  inflating: TempQ4NLIDB-dataset/datasets/Temporal_Questions/WH/Original Questions/train.json
  inflating: TempQ4NLIDB-dataset/datasets/Temporal_Questions/WH/Partial-DA Questions/dev.json
  inflating: TempQ4NLIDB-dataset/datasets/Temporal_Questions/WH/Partial-DA Questions/test.json
  inflating: TempQ4NLIDB-dataset/datasets/Temporal_Questions/WH/Partial-DA Questions/train.json

##Keys

In [4]:
openai.api_key = "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"
mysql_username = "DBQINL"
mysql_password = quote_plus("Pass@12345")
mysql_server = "nlidb1.mysql.database.azure.com"
mysql_port = "1433"
mysql_db = "nlidb1"
MYSQL_URI = f"mysql://{mysql_username}:{mysql_password}@{mysql_server}/{mysql_db}?ssl=false"

## Initialization

In [5]:
engine = create_engine(MYSQL_URI, pool_pre_ping=True)
SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

##Function Definations

In [6]:
def load_train_data(path,questions):
    #load json object
    with open(path) as file:
        data = json.load(file)

    #lets put the data into a pandas df
    data_normal = pd.json_normalize(data, max_level=0)
    data_normal = data_normal[["question","query"]]
    questions = pd.concat([questions, data_normal], ignore_index=True)
    return questions

In [36]:
def execute_query(db, sql) :
  results = []
  cursor = db.execute(sql)
  results.append(jsonable_encoder([ row for row in cursor.fetchall() ]))
  return results

In [8]:
def get_tables():
  tables = inspect(engine).get_table_names()
  return tables

In [9]:
def get_columns(table):
  column_names = []
  columns = inspect(engine).get_columns(table)
  for column in columns:
    column_names.append(column["name"])
  return column_names

In [10]:
## Generating the Schema Details for Training the Model
def get_schema_details():
  schema=[]
  tables = inspect(engine).get_table_names()
  for table in tables:
    table_schema = f'''{table}('''
    columns = get_columns(table)
    for column in columns:
      table_schema += f"""'{column}',"""

    table_schema += ")"
    schema.append(table_schema)
  return schema

In [11]:
def get_response(texts):
  response = openai.Completion.create(
      engine ="text-davinci-003",
      prompt = texts,
      temperature = 0,
      max_tokens = 750,
      top_p = 1,
      frequency_penalty = 0.0,
      presence_penalty = 0.0,
      stop = (";", "/*", "</code>")
  )
  x = response.choices[0].text 
  return x

In [12]:
def format_sql(sql):
  query = sql.replace('\n',' ')
  return query

In [13]:
def generate_sql(query):
  schema = get_schema_details()
  ## Passing the Schema to the GPT so as to get the output against our dataset
  gpt_query = (f'''Prompt: {query} \n Table: {schema} \n —- SQL Code:\n''')
  sql = get_response(gpt_query)
  return format_sql(sql)

In [14]:
def execute_sql_query(sql, db):
  return execute_query(db, sql)

In [15]:
def execute_nl_query(query, option, db):
  sql = generate_sql(query, option)
  return execute_query(db, sql)

In [16]:
def generate_response(questions):
  response = pd.DataFrame(columns=["question","query","generated"])
  for index in questions.index:
    response_query = generate_sql(questions['question'][index])

    line = {
    "question": questions['question'][index],
    "query": questions['query'][index],
    "generated": response_query
    }
    response = response.append(line, ignore_index=True)
  return response

## Loading Dataset

In [17]:
## A sample HR dataset is loaded for the Testing
dataset = pd.DataFrame(columns=["question","query"])
dataset = load_train_data('/content/TempQ4NLIDB-dataset/datasets/Mixed_Full-DA_and_NonTemporal_Questions/HR/train.json',dataset)
dataset = load_train_data('/content/TempQ4NLIDB-dataset/datasets/Non-Temporal_Questions/HR/train.json',dataset)
dataset = load_train_data('/content/TempQ4NLIDB-dataset/datasets/Temporal_Questions/HR/Full-DA Questions/train.json',dataset)
dataset = load_train_data('/content/TempQ4NLIDB-dataset/datasets/Temporal_Questions/HR/Original Questions/train.json',dataset)
dataset = load_train_data('/content/TempQ4NLIDB-dataset/datasets/Temporal_Questions/HR/Partial-DA Questions/train.json',dataset)

## Checking Data from DataBase

In [37]:
hr_database = execute_sql_query("SELECT * FROM EMPLOYEE", engine)
print(hr_database)

[[{'EMPNO': 101, 'EMPNAME': 'John1', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1976-03-20', 'HIREDATE': '2011-05-01', 'LEAVEDATE': None, 'SALARY': 99500, 'BONUS': 8700, 'DPTNAME': 'Sales'}, {'EMPNO': 102, 'EMPNAME': 'Jack3', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1978-02-18', 'HIREDATE': '2001-09-01', 'LEAVEDATE': None, 'SALARY': 101000, 'BONUS': 8500, 'DPTNAME': 'Sales'}, {'EMPNO': 103, 'EMPNAME': 'Jack1', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1988-10-23', 'HIREDATE': '2014-08-01', 'LEAVEDATE': None, 'SALARY': 83000, 'BONUS': 8100, 'DPTNAME': 'Sales'}, {'EMPNO': 104, 'EMPNAME': 'William', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1989-01-19', 'HIREDATE': '2012-05-31', 'LEAVEDATE': None, 'SALARY': 85000, 'BONUS': 8000, 'DPTNAME': 'Sales'}, {'EMPNO': 105, 'EMPNAME': 'Joann', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1980-04-01', 'HIREDATE': '2010-10-30', 'LEAVEDATE': None, 'SALARY': 85000, 'BONUS': 8500, 'DPTNAME': 'Sales'}, {'EMPNO': 106, 'EMPNAME': 'Andy', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1977-08-30', 'HIREDATE': '1999-09-01', 'LEAVEDATE': None, 'SALARY': 101000, 'BONUS': 9500, 'DPTNAME': 'Sales'}, {'EMPNO': 107, 'EMPNAME': 'Joshua', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1972-03-10', 'HIREDATE': '1994-06-01', 'LEAVEDATE': None, 'SALARY': 118000, 'BONUS': 7300, 'DPTNAME': 'Sales'}, {'EMPNO': 108, 'EMPNAME': 'Charlotte', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1973-05-05', 'HIREDATE': '1995-07-01', 'LEAVEDATE': None, 'SALARY': 119000, 'BONUS': 9000, 'DPTNAME': 'Sales'}, {'EMPNO': 109, 'EMPNAME': 'Thomas2', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1965-10-16', 'HIREDATE': '1998-05-30', 'LEAVEDATE': None, 'SALARY': 120000, 'BONUS': 15000, 'DPTNAME': 'Sales'}, {'EMPNO': 110, 'EMPNAME': 'Frank', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1975-02-20', 'HIREDATE': '2009-05-30', 'LEAVEDATE': None, 'SALARY': 107000, 'BONUS': 9000, 'DPTNAME': 'Sales'}, {'EMPNO': 111, 'EMPNAME': 'Stanley', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1980-03-20', 'HIREDATE': '2011-05-01', 'LEAVEDATE': None, 'SALARY': 85000, 'BONUS': 8100, 'DPTNAME': 'Sales'}, {'EMPNO': 112, 'EMPNAME': 'Kenneth', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1977-11-29', 'HIREDATE': '2000-05-01', 'LEAVEDATE': None, 'SALARY': 104000, 'BONUS': 9500, 'DPTNAME': 'Sales'}, {'EMPNO': 113, 'EMPNAME': 'Mark2', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1985-08-12', 'HIREDATE': '2013-05-01', 'LEAVEDATE': None, 'SALARY': 87000, 'BONUS': 8700, 'DPTNAME': 'Sales'}, {'EMPNO': 114, 'EMPNAME': 'Marjorie', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1987-05-30', 'HIREDATE': '2006-12-01', 'LEAVEDATE': None, 'SALARY': 91000, 'BONUS': 7800, 'DPTNAME': 'Sales'}, {'EMPNO': 115, 'EMPNAME': 'Matt', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1988-06-08', 'HIREDATE': '2016-08-01', 'LEAVEDATE': None, 'SALARY': 67000, 'BONUS': 6000, 'DPTNAME': 'Sales'}, {'EMPNO': 116, 'EMPNAME': 'Matthew2', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1977-12-03', 'HIREDATE': '2001-03-30', 'LEAVEDATE': None, 'SALARY': 103000, 'BONUS': 9300, 'DPTNAME': 'Sales'}, {'EMPNO': 117, 'EMPNAME': 'Hellen', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1989-11-23', 'HIREDATE': '2013-07-01', 'LEAVEDATE': None, 'SALARY': 84000, 'BONUS': 7000, 'DPTNAME': 'Sales'}, {'EMPNO': 118, 'EMPNAME': 'Norma', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1973-12-27', 'HIREDATE': '1999-10-01', 'LEAVEDATE': None, 'SALARY': 105000, 'BONUS': 9000, 'DPTNAME': 'Sales'}, {'EMPNO': 119, 'EMPNAME': 'Gerald', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1986-02-11', 'HIREDATE': '2006-07-01', 'LEAVEDATE': None, 'SALARY': 92000, 'BONUS': 8500, 'DPTNAME': 'Sales'}, {'EMPNO': 120, 'EMPNAME': 'Paul3', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1965-01-10', 'HIREDATE': '1989-09-30', 'LEAVEDATE': None, 'SALARY': 125000, 'BONUS': 11700, 'DPTNAME': 'Sales'}, {'EMPNO': 121, 'EMPNAME': 'Eugene', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1987-11-12', 'HIREDATE': '2013-12-01', 'LEAVEDATE': None, 'SALARY': 88000, 'BONUS': 7500, 'DPTNAME': 'Sales'}, {'EMPNO': 122, 'EMPNAME': 'Roderick', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1989-01-29', 'HIREDATE': '2015-03-01', 'LEAVEDATE': None, 'SALARY': 73000, 'BONUS': 7000, 'DPTNAME': 'Sales'}, {'EMPNO': 123, 'EMPNAME': 'Charles', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1957-06-10', 'HIREDATE': '1980-05-30', 'LEAVEDATE': None, 'SALARY': 141000, 'BONUS': 18000, 'DPTNAME': 'Sales'}, {'EMPNO': 124, 'EMPNAME': 'Frankie', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1960-12-15', 'HIREDATE': '1986-10-01', 'LEAVEDATE': None, 'SALARY': 137000, 'BONUS': 13500, 'DPTNAME': 'Sales'}, {'EMPNO': 125, 'EMPNAME': 'Sarah1', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1960-08-30', 'HIREDATE': '1980-01-01', 'LEAVEDATE': None, 'SALARY': 123000, 'BONUS': 7900, 'DPTNAME': 'Sales'}, {'EMPNO': 126, 'EMPNAME': 'Mary2', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1962-09-30', 'HIREDATE': '1995-09-03', 'LEAVEDATE': None, 'SALARY': 125000, 'BONUS': 12500, 'DPTNAME': 'Sales'}, {'EMPNO': 127, 'EMPNAME': 'John2', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1957-09-19', 'HIREDATE': '2009-05-01', 'LEAVEDATE': None, 'SALARY': 153000, 'BONUS': 13500, 'DPTNAME': 'Sales'}, {'EMPNO': 128, 'EMPNAME': 'Kevin1', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1972-06-30', 'HIREDATE': '1995-05-30', 'LEAVEDATE': None, 'SALARY': 111000, 'BONUS': 12500, 'DPTNAME': 'Sales'}, {'EMPNO': 129, 'EMPNAME': 'Jack4', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1952-12-20', 'HIREDATE': '1977-09-01', 'LEAVEDATE': '2017-01-01', 'SALARY': 120000, 'BONUS': 12000, 'DPTNAME': 'Sales'}, {'EMPNO': 130, 'EMPNAME': 'Tiffany2', 'MGRNAME': 'Peter Doe', 'BIRTHDATE': '1961-10-30', 'HIREDATE': '1993-10-01', 'LEAVEDATE': '2016-12-12', 'SALARY': 95000, 'BONUS': 8000, 'DPTNAME': 'Sales'}, {'EMPNO': 201, 'EMPNAME': 'Paul1', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1975-10-13', 'HIREDATE': '2000-05-01', 'LEAVEDATE': None, 'SALARY': 104000, 'BONUS': 8500, 'DPTNAME': 'Marketing'}, {'EMPNO': 202, 'EMPNAME': 'Mike', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1990-09-27', 'HIREDATE': '2016-12-01', 'LEAVEDATE': None, 'SALARY': 66000, 'BONUS': 6000, 'DPTNAME': 'Marketing'}, {'EMPNO': 203, 'EMPNAME': 'Dawn', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1984-03-06', 'HIREDATE': '2013-09-01', 'LEAVEDATE': None, 'SALARY': 80000, 'BONUS': 7500, 'DPTNAME': 'Marketing'}, {'EMPNO': 204, 'EMPNAME': 'Mark1', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1990-10-09', 'HIREDATE': '2016-07-10', 'LEAVEDATE': None, 'SALARY': 69000, 'BONUS': 7000, 'DPTNAME': 'Marketing'}, {'EMPNO': 205, 'EMPNAME': 'Kelli', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1979-08-20', 'HIREDATE': '2001-10-01', 'LEAVEDATE': None, 'SALARY': 100000, 'BONUS': 6800, 'DPTNAME': 'Marketing'}, {'EMPNO': 206, 'EMPNAME': 'Jim', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1982-10-28', 'HIREDATE': '2015-05-01', 'LEAVEDATE': None, 'SALARY': 93000, 'BONUS': 7100, 'DPTNAME': 'Marketing'}, {'EMPNO': 207, 'EMPNAME': 'Scott', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1977-04-20', 'HIREDATE': '1999-07-31', 'LEAVEDATE': None, 'SALARY': 100000, 'BONUS': 8000, 'DPTNAME': 'Marketing'}, {'EMPNO': 208, 'EMPNAME': 'Amos', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1989-10-10', 'HIREDATE': '2012-03-05', 'LEAVEDATE': None, 'SALARY': 85000, 'BONUS': 6100, 'DPTNAME': 'Marketing'}, {'EMPNO': 209, 'EMPNAME': 'Jason1', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1983-02-21', 'HIREDATE': '2013-05-30', 'LEAVEDATE': None, 'SALARY': 81000, 'BONUS': 7300, 'DPTNAME': 'Marketing'}, {'EMPNO': 210, 'EMPNAME': 'Lydia', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1977-05-10', 'HIREDATE': '2002-09-01', 'LEAVEDATE': None, 'SALARY': 102000, 'BONUS': 8500, 'DPTNAME': 'Marketing'}, {'EMPNO': 211, 'EMPNAME': 'Steven', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1988-12-20', 'HIREDATE': '2011-03-01', 'LEAVEDATE': None, 'SALARY': 89000, 'BONUS': 7300, 'DPTNAME': 'Marketing'}, {'EMPNO': 212, 'EMPNAME': 'Amanda1', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1987-02-03', 'HIREDATE': '2016-05-01', 'LEAVEDATE': None, 'SALARY': 91000, 'BONUS': 7000, 'DPTNAME': 'Marketing'}, {'EMPNO': 213, 'EMPNAME': 'Angel', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1972-03-09', 'HIREDATE': '1993-05-30', 'LEAVEDATE': None, 'SALARY': 122000, 'BONUS': 9000, 'DPTNAME': 'Marketing'}, {'EMPNO': 214, 'EMPNAME': 'Anna', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1988-05-10', 'HIREDATE': '2008-01-10', 'LEAVEDATE': None, 'SALARY': 87000, 'BONUS': 7100, 'DPTNAME': 'Marketing'}, {'EMPNO': 215, 'EMPNAME': 'Frances', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1982-06-12', 'HIREDATE': '2013-03-01', 'LEAVEDATE': None, 'SALARY': 81000, 'BONUS': 7200, 'DPTNAME': 'Marketing'}, {'EMPNO': 216, 'EMPNAME': 'Jacquie', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1985-05-12', 'HIREDATE': '2014-05-30', 'LEAVEDATE': None, 'SALARY': 75000, 'BONUS': 6000, 'DPTNAME': 'Marketing'}, {'EMPNO': 217, 'EMPNAME': 'Mary1', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1975-03-30', 'HIREDATE': '2008-09-01', 'LEAVEDATE': None, 'SALARY': 105000, 'BONUS': 8000, 'DPTNAME': 'Marketing'}, {'EMPNO': 218, 'EMPNAME': 'Myles', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1984-03-10', 'HIREDATE': '2007-11-01', 'LEAVEDATE': None, 'SALARY': 92000, 'BONUS': 7500, 'DPTNAME': 'Marketing'}, {'EMPNO': 219, 'EMPNAME': 'Norah', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1969-05-12', 'HIREDATE': '2001-08-20', 'LEAVEDATE': None, 'SALARY': 119000, 'BONUS': 12000, 'DPTNAME': 'Marketing'}, {'EMPNO': 220, 'EMPNAME': 'Paul2', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1976-03-29', 'HIREDATE': '1999-05-01', 'LEAVEDATE': None, 'SALARY': 104000, 'BONUS': 7500, 'DPTNAME': 'Marketing'}, {'EMPNO': 221, 'EMPNAME': 'Carol', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1981-06-01', 'HIREDATE': '2003-05-01', 'LEAVEDATE': None, 'SALARY': 93000, 'BONUS': 7000, 'DPTNAME': 'Marketing'}, {'EMPNO': 222, 'EMPNAME': 'Lois', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1981-12-21', 'HIREDATE': '2011-09-01', 'LEAVEDATE': None, 'SALARY': 81500, 'BONUS': 8100, 'DPTNAME': 'Marketing'}, {'EMPNO': 223, 'EMPNAME': 'Negron', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1972-10-23', 'HIREDATE': '1997-05-30', 'LEAVEDATE': '2003-12-31', 'SALARY': 70000, 'BONUS': 6500, 'DPTNAME': 'Marketing'}, {'EMPNO': 224, 'EMPNAME': 'Richard', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1954-08-02', 'HIREDATE': '1993-01-30', 'LEAVEDATE': '2011-10-30', 'SALARY': 85000, 'BONUS': 7500, 'DPTNAME': 'Marketing'}, {'EMPNO': 225, 'EMPNAME': 'Courtney', 'MGRNAME': 'Robert Doe', 'BIRTHDATE': '1947-02-13', 'HIREDATE': '1977-05-30', 'LEAVEDATE': '2014-12-31', 'SALARY': 97000, 'BONUS': 10000, 'DPTNAME': 'Marketing'}, {'EMPNO': 301, 'EMPNAME': 'Jason2', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1976-05-03', 'HIREDATE': '2007-03-01', 'LEAVEDATE': None, 'SALARY': 110000, 'BONUS': 6700, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 302, 'EMPNAME': 'Owen', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1979-01-03', 'HIREDATE': '2010-06-01', 'LEAVEDATE': None, 'SALARY': 86000, 'BONUS': 6700, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 303, 'EMPNAME': 'Amanda2', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1993-03-29', 'HIREDATE': '2016-06-03', 'LEAVEDATE': None, 'SALARY': 68000, 'BONUS': 5000, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 304, 'EMPNAME': 'Noah', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1988-09-12', 'HIREDATE': '2014-09-30', 'LEAVEDATE': None, 'SALARY': 78000, 'BONUS': 7500, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 305, 'EMPNAME': 'Nicholas', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1985-05-10', 'HIREDATE': '2005-09-30', 'LEAVEDATE': None, 'SALARY': 91500, 'BONUS': 6500, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 306, 'EMPNAME': 'Tyler', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1987-10-30', 'HIREDATE': '2009-02-01', 'LEAVEDATE': None, 'SALARY': 88000, 'BONUS': 6700, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 307, 'EMPNAME': 'Jordan', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1990-02-13', 'HIREDATE': '2016-11-01', 'LEAVEDATE': None, 'SALARY': 56000, 'BONUS': 6000, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 308, 'EMPNAME': 'Thomas1', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1979-01-27', 'HIREDATE': '2011-10-01', 'LEAVEDATE': None, 'SALARY': 108000, 'BONUS': 6000, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 309, 'EMPNAME': 'Kevin2', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1988-03-10', 'HIREDATE': '2010-03-01', 'LEAVEDATE': None, 'SALARY': 89000, 'BONUS': 7000, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 310, 'EMPNAME': 'Antonio', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1987-03-23', 'HIREDATE': '2008-05-31', 'LEAVEDATE': None, 'SALARY': 88500, 'BONUS': 6500, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 311, 'EMPNAME': 'Tatum1', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1992-07-23', 'HIREDATE': '2015-10-07', 'LEAVEDATE': None, 'SALARY': 62000, 'BONUS': 5700, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 312, 'EMPNAME': 'Joseph', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1975-03-10', 'HIREDATE': '1999-05-10', 'LEAVEDATE': None, 'SALARY': 117000, 'BONUS': 8700, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 313, 'EMPNAME': 'Jenna', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1978-09-10', 'HIREDATE': '2010-05-01', 'LEAVEDATE': None, 'SALARY': 85000, 'BONUS': 6500, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 314, 'EMPNAME': 'Williambridge', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1981-03-09', 'HIREDATE': '2003-10-01', 'LEAVEDATE': None, 'SALARY': 93500, 'BONUS': 6300, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 315, 'EMPNAME': 'Matthew1', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1988-01-29', 'HIREDATE': '2009-10-01', 'LEAVEDATE': None, 'SALARY': 89000, 'BONUS': 6100, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 316, 'EMPNAME': 'Nicole', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1965-02-07', 'HIREDATE': '1997-09-03', 'LEAVEDATE': None, 'SALARY': 122000, 'BONUS': 7500, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 317, 'EMPNAME': 'Meadow', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1974-08-02', 'HIREDATE': '1998-02-01', 'LEAVEDATE': None, 'SALARY': 105000, 'BONUS': 6700, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 318, 'EMPNAME': 'Dylan', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1991-08-07', 'HIREDATE': '2016-05-30', 'LEAVEDATE': None, 'SALARY': 70000, 'BONUS': 6700, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 319, 'EMPNAME': 'George', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1988-06-10', 'HIREDATE': '2008-05-31', 'LEAVEDATE': None, 'SALARY': 86000, 'BONUS': 6000, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 320, 'EMPNAME': 'Michael', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1969-04-09', 'HIREDATE': '1990-09-30', 'LEAVEDATE': None, 'SALARY': 117000, 'BONUS': 7900, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 321, 'EMPNAME': 'Caitlin', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1991-12-31', 'HIREDATE': '2016-09-01', 'LEAVEDATE': None, 'SALARY': 64000, 'BONUS': 5700, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 322, 'EMPNAME': 'Daniel', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1980-07-27', 'HIREDATE': '2003-10-01', 'LEAVEDATE': None, 'SALARY': 91500, 'BONUS': 6800, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 323, 'EMPNAME': 'Lucas1', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1986-10-20', 'HIREDATE': '2015-05-01', 'LEAVEDATE': None, 'SALARY': 76000, 'BONUS': 7000, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 324, 'EMPNAME': 'Kyle1', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1983-11-04', 'HIREDATE': '2014-09-01', 'LEAVEDATE': None, 'SALARY': 92000, 'BONUS': 6300, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 325, 'EMPNAME': 'Brian1', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1993-09-05', 'HIREDATE': '2016-09-01', 'LEAVEDATE': None, 'SALARY': 63000, 'BONUS': 5800, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 326, 'EMPNAME': 'Austin', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1988-03-25', 'HIREDATE': '2010-09-01', 'LEAVEDATE': None, 'SALARY': 89000, 'BONUS': 6400, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 327, 'EMPNAME': 'Jack2', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1980-10-10', 'HIREDATE': '2009-10-30', 'LEAVEDATE': None, 'SALARY': 99000, 'BONUS': 6500, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 328, 'EMPNAME': 'Carson', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1976-01-30', 'HIREDATE': '2002-09-01', 'LEAVEDATE': None, 'SALARY': 103000, 'BONUS': 7000, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 329, 'EMPNAME': 'Brian3', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1983-01-27', 'HIREDATE': '2012-07-01', 'LEAVEDATE': None, 'SALARY': 82000, 'BONUS': 6800, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 330, 'EMPNAME': 'Dennis', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1989-05-25', 'HIREDATE': '2014-09-01', 'LEAVEDATE': None, 'SALARY': 74000, 'BONUS': 7700, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 331, 'EMPNAME': 'Allison', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1980-12-01', 'HIREDATE': '2011-09-01', 'LEAVEDATE': None, 'SALARY': 83000, 'BONUS': 7300, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 332, 'EMPNAME': 'Brenna', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1981-04-17', 'HIREDATE': '2011-05-01', 'LEAVEDATE': None, 'SALARY': 85000, 'BONUS': 6300, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 333, 'EMPNAME': 'Adam', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1978-06-25', 'HIREDATE': '2001-10-01', 'LEAVEDATE': None, 'SALARY': 107000, 'BONUS': 7100, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 334, 'EMPNAME': 'Colin1', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1989-05-02', 'HIREDATE': '2013-05-30', 'LEAVEDATE': None, 'SALARY': 90000, 'BONUS': 6100, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 335, 'EMPNAME': 'Hanna', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1987-03-10', 'HIREDATE': '2010-05-01', 'LEAVEDATE': None, 'SALARY': 87000, 'BONUS': 7000, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 336, 'EMPNAME': 'Peter', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1959-10-02', 'HIREDATE': '1989-09-01', 'LEAVEDATE': None, 'SALARY': 138000, 'BONUS': 15000, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 337, 'EMPNAME': 'Williamburg', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1990-05-05', 'HIREDATE': '2015-10-20', 'LEAVEDATE': None, 'SALARY': 71000, 'BONUS': 6700, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 338, 'EMPNAME': 'Brian2', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1991-09-17', 'HIREDATE': '2016-09-01', 'LEAVEDATE': None, 'SALARY': 68000, 'BONUS': 5500, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 339, 'EMPNAME': 'Erin', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1980-11-23', 'HIREDATE': '2003-10-01', 'LEAVEDATE': None, 'SALARY': 99000, 'BONUS': 7100, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 340, 'EMPNAME': 'Amolk', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1982-02-10', 'HIREDATE': '2004-10-01', 'LEAVEDATE': None, 'SALARY': 92000, 'BONUS': 6200, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 341, 'EMPNAME': 'Colin2', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1979-05-10', 'HIREDATE': '2001-10-01', 'LEAVEDATE': None, 'SALARY': 107500, 'BONUS': 7000, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 342, 'EMPNAME': 'Samantha', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1991-05-17', 'HIREDATE': '2016-01-15', 'LEAVEDATE': None, 'SALARY': 62000, 'BONUS': 5700, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 343, 'EMPNAME': 'Manal', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1987-01-02', 'HIREDATE': '2014-01-01', 'LEAVEDATE': None, 'SALARY': 83000, 'BONUS': 6200, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 344, 'EMPNAME': 'Carlos', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1961-04-02', 'HIREDATE': '1985-02-25', 'LEAVEDATE': '2016-04-01', 'SALARY': 88000, 'BONUS': 11000, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 345, 'EMPNAME': 'Iain', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1981-05-12', 'HIREDATE': '2003-10-01', 'LEAVEDATE': '2009-10-30', 'SALARY': 71000, 'BONUS': 6000, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 346, 'EMPNAME': 'Shannon', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1963-02-12', 'HIREDATE': '1983-05-01', 'LEAVEDATE': '2015-12-31', 'SALARY': 80000, 'BONUS': 7500, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 347, 'EMPNAME': 'Jake', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1945-10-09', 'HIREDATE': '1970-05-01', 'LEAVEDATE': '2000-05-01', 'SALARY': 91000, 'BONUS': 6000, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 348, 'EMPNAME': 'Lucas2', 'MGRNAME': 'Mark Doe', 'BIRTHDATE': '1955-11-12', 'HIREDATE': '1976-01-03', 'LEAVEDATE': '2005-01-31', 'SALARY': 85000, 'BONUS': 8000, 'DPTNAME': 'Manufacturing'}, {'EMPNO': 401, 'EMPNAME': 'Devonta', 'MGRNAME': 'Christina Doe', 'BIRTHDATE': '1963-05-17', 'HIREDATE': '1987-05-01', 'LEAVEDATE': None, 'SALARY': 130000, 'BONUS': 10000, 'DPTNAME': 'Administration'}, {'EMPNO': 402, 'EMPNAME': 'Ariana', 'MGRNAME': 'Christina Doe', 'BIRTHDATE': '1975-09-09', 'HIREDATE': '1997-05-01', 'LEAVEDATE': None, 'SALARY': 105000, 'BONUS': 750

## Generating Response

In [18]:
## Testing against a Data Sample of 20
output = generate_response(dataset.head(20))

In [19]:
output.head(20)

,question,query,generated
0,which employee works for Sales or Marketing?,SELECT EMPNAME FROM EMPLOYEE WHERE DPTNAME = ...,SELECT EMPNAME FROM employee WHERE DPTNAME =...
1,what department does Jack1 work in?,SELECT DISTINCT DPTNAME FROM EMPLOYEE WHERE EM...,SELECT DPTNAME FROM employee WHERE EMPNAME = '...
2,who is the manager of Brian1?,SELECT MGRNAME FROM EMPLOYEE WHERE EMPNAME = ...,SELECT MGRNAME FROM employee WHERE EMPNAME = '...
3,how many salary in Sales are less than 50000?,SELECT COUNT ( SALARY ) FROM EMPLOYEE wher...,SELECT COUNT(*) FROM employee WHERE salary <...
4,What employee from Sales has a salary higher t...,SELECT DISTINCT EMPNAME FROM EMPLOYEE WHERE SA...,SELECT EMPNAME FROM employee WHERE SALARY >...
5,What is an average employee salary in Sales de...,SELECT AVG ( SALARY ) FROM EMPLOYEE WHERE ...,SELECT AVG(SALARY) FROM employee WHERE DPTNAME...
6,Who is under the management of Mark Deo?,SELECT EMPNAME FROM EMPLOYEE WHERE MGRNAME = ...,SELECT EMPNAME FROM employee WHERE MGRNAME =...
7,who works in Marketing for less than 100000?,SELECT EMPNAME FROM EMPLOYEE WHERE DPTNAME = ...,SELECT EMPNAME FROM employee WHERE DPTNAME =...
8,How many employees does Robert Deo manage?,SELECT COUNT ( EMPNAME ) FROM EMPLOYEE WHE...,SELECT COUNT(*) FROM employee WHERE MGRNAME = ...
9,show employees names in Manufacturing that hav...,SELECT DISTINCT EMPNAME FROM EMPLOYEE WHERE SA...,SELECT EMPNAME FROM employee WHERE DPTNAME =...
10,What are the names of employees with salary gr...,SELECT EMPNAME FROM EMPLOYEE WHERE SALARY > ...,SELECT EMPNAME FROM employee WHERE SALARY > ...
11,who is managed by Peter Deo and have a salary ...,SELECT EMPNAME FROM EMPLOYEE WHERE MGRNAME = ...,SELECT EMPNAME FROM employee WHERE MGRNAME =...
12,"How many employees, which do no work in Sales,...",SELECT EMPNAME FROM EMPLOYEE WHERE DPTNAME != ...,SELECT COUNT(*) FROM employee WHERE DPTNAME !=...
13,What is the salary of Richard?,SELECT SALARY FROM EMPLOYEE WHERE EMPNAME = ...,SELECT SALARY FROM employee WHERE EMPNAME = 'R...
14,What employees have as manager Mark Deo and ha...,SELECT EMPNAME FROM EMPLOYEE WHERE MGRNAME = ...,SELECT EMPNAME FROM employee WHERE MGRNAME =...
15,what is the salary of Jack1 and Shannon?,SELECT SALARY FROM EMPLOYEE WHERE EMPNAME = ...,SELECT SALARY FROM employee WHERE EMPNAME = 'J...
16,What is the salary of workers in Sales?,SELECT SALARY FROM EMPLOYEE WHERE DPTNAME = ...,SELECT SALARY FROM employee
17,What is the number of employees managed by Pet...,SELECT COUNT ( EMPNAME ) FROM EMPLOYEE WHE...,SELECT COUNT(*) FROM employee WHERE MGRNAME = ...
18,Who are the employees in Administration who ha...,SELECT DISTINCT EMPNAME FROM EMPLOYEE WHERE DP...,SELECT EMPNAME FROM employee WHERE MGRNAME =...
19,How many employees have as manager Mark Deo an...,SELECT COUNT ( DISTINCT EMPNAME ) FROM EMP...,SELECT COUNT(*) FROM employee WHERE MGRNAME = ...